
@{
    ViewBag.Title = "NotAuthenticated";
}
<br />
<br />
<div class="alert alert-danger">
    <h2>Not Allowed</h2>
    You must first log in to recognize someone
</div>
<br />
@Html.ActionLink("Return to home", "Index", "Home")