@{
    ViewBag.Title = "Centric Consulting, LLC";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This application is meant to be used by Centric employees to better engage with each other and live the values we hold dear as a company</p>
