@{
    ViewBag.Title = "Centric Consulting, LLC";
}
<h2 style="color:gold;">@ViewBag.Title</h2>
<h3 style="color:darkblue;">@ViewBag.Message</h3>

<p style="color:darkblue; text-align:left">Centric Consulting is a business consulting and technology solutions firm that provides full-service management consulting services.<br/>
    This culture application is meant to be used by Centric employees to better engage with each other and live the values we hold dear as a company.<br/>
    <br/>
    <br/>
    For more information, check out Centric's <a href="https://centricconsulting.com/about-us/" style="color:darkblue;">About Us </a>Page.
</p>
