@{
    ViewBag.Title = "Centric Consulting, LLC";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    1020 Dennison Ave,<br />
    Columbus, OH 43201<br />
    <abbr title="Phone">P:</abbr>
    (614)205-8112
</address>

<h3>Follow Us On Social:</h3>
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Add font awesome icons -->
<span><a href="https://www.facebook.com/CentricConsultingNational" class="fa fa-facebook"></a></span> <a href="https://www.facebook.com/CentricConsultingNational">Facebook</a>
<br />
<span><a href="https://twitter.com/centric" class="fa fa-twitter"></a></span> <a href="https://twitter.com/centric">Twitter</a>
<br />
<span><a href="https://www.linkedin.com/company/centric-consulting/" class="fa fa-linkedin"></a></span> <a href="https://www.linkedin.com/company/centric-consulting/">LinkedIn</a>
<br />
<span><a href="https://www.instagram.com/centricconsulting/" class="fa fa-instagram"></a></span> <a href="https://www.instagram.com/centricconsulting/">Instagram</a>
<br />
<span><a href="https://www.youtube.com/channel/UCFmtoIKH1ijwpGpiJBxl4dw" class="fa fa-youtube"></a></span> <a href="https://www.youtube.com/channel/UCFmtoIKH1ijwpGpiJBxl4dw">YouTube</a>

