@{
    ViewBag.Title = "Home";
}

    <div class="jumbotron">
        <h1 style="color:gold; text-align:center">Centric Recognition</h1>
        <p class="lead" style="color:darkblue; text-align:center">
            This application is designed for you - our dearest employee! Use this application to recognize your fellow employees for living our values everyday at work.
            Thank you for participating and being an engaged employee! Remember to login to use the full functionality of the application!
        </p>
        <p class="lead" style="color:darkblue; text-align:center">
            Take a look at our values with this link -> @Html.ActionLink("Our Values", "OurValues", "Home")
        </p>        
    </div>



