@model MIS4200_Team10.Models.UserDetails

@{
    ViewBag.Title = "Details";
}

<h2 style="color:gold;">Details</h2>

<div>
    <h4 style="color:darkblue;">User Recognition Details</h4>
    <hr />
    @{
        var total = ViewBag.Total;
        <h3 style="color:darkblue;">Total Recognitions Received = @total</h3>
        <table class="table" style="color:darkblue;">
            <tr>
                <th>
                    Commit to Delivery Excellence
                </th>
                <th>
                    Embrace Integrity and Openness
                </th>
                <th>
                    Practice Responsible Stewardship
                </th>
                <th>
                    Invest in an Exceptional Culture
                </th>
                <th>
                    Ignite Passion for the Greater Good
                </th>
                <th>
                    Strive to Innovate
                </th>
                <th>
                    Live a Balanced Life
                </th>
            </tr>
            <tr>
                <td>
                    @{ var excellence = ViewBag.Excellence;
                        @excellence
                    }
                </td>
                <td>
                    @{ var integrity = ViewBag.Integrity;
                        @integrity
                    }
                </td>
                <td>
                    @{ var stewardship = ViewBag.Stewardship;
                        @stewardship
                    }
                </td>
                <td>
                    @{ var culture = ViewBag.Culture;
                        @culture
                    }
                </td>
                <td>
                    @{ var ignite = ViewBag.Ignite;
                        @ignite
                    }
                </td>
                <td>
                    @{ var innovate = ViewBag.Innovate;
                        @innovate
                    }
                </td>
                <td>
                    @{ var balanced = ViewBag.Balanced;
                        @balanced
                    }
                </td>
            </tr>
        </table>
                        }

    </div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
