
@{
    ViewBag.Title = "FailedDelete";
}

<h2>Failed Delete</h2>

<div class="alert alert-danger">
    <h2>Not Allowed</h2>
    You can only delete your profile
</div>
<br />
@Html.ActionLink("Return to home", "index", "home")