
@{
    ViewBag.Title = "FailedDelete";
}
<br />
<br />
<div class="alert alert-danger">
    <h2>Not Allowed</h2>
    You can only edit your own profile
</div>
<br />
@Html.ActionLink("Back to List", "Index", "UserDetails")